html,
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  position: relative;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-weight: 600;
  margin: 20px 0;
  font-size: 1.4rem;
}

.form-group {
  width: 100%;
  margin: 8px 0;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.form-group input::placeholder,
.form-group select::placeholder,
.form-group textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.loading-container img {
  width: 38px;
}

.contentMatch {
  width: 100%;
  max-width: 1024px;
  min-height: calc(100vh - 140px);
  margin: 30px auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}
